.navbar{
    margin-bottom: 0px;
    border-radius: 0px;
    z-index: 20;
    width: 100%;
    height: 5vh;
    border: 1px solid black;
    // background-color: transparent;
}
.navbar-right{
    float: right !important;
    margin-right: -15px;
    height: 5vh;
}
.nav-transparent{
    background-color: transparent;
    border-color: transparent;
    position: fixed;
    top: 0;
    background-color: black; // Temporary, maybe change
    border-color: #000000;// Temporary, maybe change
    transition: 0.4s;
}
.nav-black{
    display: block;
    background-color: black;
    border-color: #000000;
    position: fixed;
    transition: 0.5s;
}
.nav-expand{
    background-color: black;
    border-color: #000000;
}

.active{
    background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a {
    background-color: transparent;
}
a:hover {
    background-color: transparent;
    cursor: pointer;
}
.avatar {
    width: 24px;
    height: 24px;
    border-radius: 12px;
}