<form [formGroup]="loginForm">
    <div class="form-group">
      <label>Email:</label>
      <input
        type="email"
        class="form-control"
        formControlName="email"
        (keypress) = "keyPress($event)"
      />
    </div>
    <div class="form-group">
      <label>Password:</label>
      <input
        type="password"
        class="form-control"
        formControlName="password"
        (keypress) = "keyPress($event)"
      />
    </div>
    <div class="alert alert-danger" *ngIf="loginFail">
        <strong>Error!</strong>{{ messageError}}
    </div>
    <!-- <div class="checkbox">
      <label><input type="checkbox" /> Remember me</label>
    </div> -->
    <div class="login-btn-group" >
        <button type="button" class="btn btn-login" (click)="login()">Login</button>
        <div class="separator">
          <div class="line"></div>
          <div style="text-align: center">	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;OR	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;</div>
          <div class="line"></div>
        </div>
        <button type="button" class="btn btn-fb" (click)="loginFacebook()"><i class="fab fa-facebook-square"></i> Login with Facebook</button>
    </div>
  </form>