<div style="background-image: url('../../assets/images/menu/bg_4.jpg')">
<div
  class="carousel fade-carousel slide"
  data-ride="carousel"
  data-interval="4000"
  id="bs-carousel"
>
  <!-- Overlay -->
  <div class="overlay"></div> 

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>

      <div class="hero">
        <div>
          <h1>We are creative</h1>
          <h3>Get start your next awesome project</h3>
        </div>
        <button class="btn btn-hero btn-lg" role="button">
          See all features
        </button>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">
        <div>
          <h1>We are smart</h1>
          <h3>Get start your next awesome project</h3>
        </div>
        <button class="btn btn-hero btn-lg" role="button">
          See all features
        </button>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">
        <div>
          <h1>We are amazing</h1>
          <h3>Get start your next awesome project</h3>
        </div>
        <button class="btn btn-hero btn-lg" role="button">
          See all features
        </button>
      </div>
    </div>
  </div>
</div>

<div style="position: fixed; bottom: 0px; right:0px; z-index: 2;">
  <button
    type="button"
    (click)="changePopup()"
    class="side-button"
    [ngClass]="{'side-button-dialog': isShown === true}"
    
    >
    <img src="../../assets/images/dialog_icon.png" class="img-responsive" alt="Image" width="50" height="50" *ngIf="isShown === false">
  <img src="../../assets/images/angle-arrow-down.png" class="img-responsive" alt="Image" width="20" height="20" *ngIf="isShown === true">
  <!-- {{ displayButton }} -->
  </button>
  <iframe
    style="    display: flex;"
    *ngIf="isShown === true"
    allow="microphone;"
    width="300"
    height="400"
    src="https://console.dialogflow.com/api-client/demo/embedded/a1669dd2-9cf7-4600-ac8f-b0431a613465"
  >
  </iframe>
</div>


<section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Our Menu</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>
    	</div>
    	<div class="container-wrap">
    		<div class="row no-gutters d-flex">

                    <div class="col-lg-4 d-flex ftco-animate" *ngFor="let item of menu; let i = index; let isRight = true">
                        <div class="services-wrap d-flex">
							
							<a *ngIf="item.isRight === true " href="#" class="img" style="background-image: url(../../assets/images/menu/pizza-4.jpg);"></a>
							<a *ngIf="item.isRight === false " href="#" class="img order-lg-last" style="background-image: url(../../assets/images/menu/pizza-4.jpg);"></a>
                            <div class="text p-4">
                                <h3>{{item.name}}</h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia </p>
                                <p class="price"><span>${{item.price}}</span> <a href="#" class="ml-2 btn-menu btn-menu-white btn-menu-outline-white">Order</a></p>
                            </div>
                        </div>
                    </div>
                
    		</div>
    	</div>

    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <h2 class="mb-4">Our Menu Pricing</h2>
            <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
            <p class="mt-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>
        <div class="row">
        	<div class="col-md-6">
				<div *ngFor="let item of menu; let i = index">
					<div class="pricing-entry d-flex ftco-animate" *ngIf="i % 2 === 0">
						<div class="img" style="background-image: url(../../assets/images/menu/pizza-4.jpg);"></div>
							<div class="desc pl-3">
								<div class="d-flex text align-items-center">
									<h3><span>{{item.name}}</span></h3>
									<span class="price">${{item.price}}</span>
								</div>
								<div class="d-block">
									<p>A small river named Duden flows by their place and supplies</p>
								</div>
							</div>
					</div>
				</div>
			</div>
			

        	<div class="col-md-6">
				<div *ngFor="let item of menu; let i = index">
					<div class="pricing-entry d-flex ftco-animate" *ngIf="i % 2 !== 0">
						<div class="img" style="background-image: url(../../assets/images/menu/pizza-4.jpg);"></div>
						<div class="desc pl-3">
							<div class="d-flex text align-items-center">
								<h3><span>{{item.name}}</span></h3>
								<span class="price">${{item.price}}</span>
							</div>
							<div class="d-block">
								<p>A small river named Duden flows by their place and supplies</p>
							</div>
						</div>
					</div>
				</div>
        	</div>
        </div>
    	</div>
    </section>

    
</div>