.personal-body{
    margin-top: 56px;
    position: relative;
    z-index: 1;
    background-color: #fff;
}
.content {
    // position: inherit;
    margin-left: 200px;
    // flex-direction: row;
    // align-items: flex-start;
}
