<!-- The sidebar -->
<div class="sidebar">
  <div style="display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 205px;
  border-bottom: 1px solid #f39c12;
  margin-bottom: 10px;
  ">
    <img src="https://scontent.fdad4-1.fna.fbcdn.net/v/t1.0-9/67406253_2249218308524295_1090405463884824576_n.jpg?_nc_cat=101&_nc_oc=AQmsmMT-fQfYsh1BBhSMCQa_W_3_cpiHY8KiRyhQMaPoUG4I9YYzo2S8pIkCYRq0cMc&_nc_ht=scontent.fdad4-1.fna&oh=a3a74991e6e68c368c2aaff4617968ad&oe=5DF989D0" 
        width="160" 
        height="160"
        style="border-radius: 80px"/>
    <h4>Nguyên Nguyễn</h4>
  </div>
  <a href="#profile" class="active"><i class="fa fa-fw fa-user "></i> My Profile</a>
  <a href="#services"><i class="fas fa-coffee"></i> My Orders</a>
</div>
      <!-- <app-user-profile></app-user-profile> -->