.signup-btn-group {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    /* align-items: center; */
    font-family: Poppins-Regular;
}
.btn-signup {
    margin: 20px 0 10px 0;
    height: 45px;
    border-radius: 15px;
    font-size: 18px;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    // background: #6a7dfe;
    background-size: 200% 100%;
    background-image: linear-gradient(to right,rgb(204, 138, 18), #333333);
    // background: -webkit-linear-gradient(to right, rgb(204, 138, 18), #333333);
    // background: -o-linear-gradient(to right, rgb(204, 138, 18), #333333);
    // background: -moz-linear-gradient(to right, rgb(204, 138, 18), #333333);
    // background: linear-gradient(to right, rgb(204, 138, 18), #333333);
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.btn-signup:hover,
.btn-signup:focus {
    background-position: 100% 0;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
