/* You can add global styles to this file, and also import other style files */
.black{
    background-color: black;
    color: #ffffff;
}
.black > li > a {
    color: #ffffff;
}
.black > li > a:hover{
    background-color: #333333;
    color: #ffffff;
}