/* You can add global styles to this file, and also import other style files */
/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
    src: url('assets/fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('assets/fonts/poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('assets/fonts/poppins/Poppins-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-SemiBold;
    src: url('assets/fonts/poppins/Poppins-SemiBold.ttf'); 
  }

.black{
    background-color: black;
    color: #ffffff;
}
.black > li > a {
    color: #ffffff;
}
.black > li > a:hover{
    background-color: #333333;
    color: #ffffff;
}

.title {
    margin: 20px 0 20px 20px;
    border-bottom: 2px solid #000000;
}